@import '../../styles/settings.scss';

.button {
  background: $color-success;
  border: 0;
  color: $color-light;
  text-align: center;
  line-height: 1.3;
  padding: $base-size/1.2;
  margin: 0 0 0 $base-size/2;
  border-radius: $radius;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: $transition;
  font-size: 100%;
  max-width: 150px;

  &:hover {
    background: darken($color-success, 5%);
    color: #fff;
  }

  &.danger {
    background: $color-warning;

    &:hover {
      background: darken($color-warning, 5%);
    }
  }

  &.transparent {
    background: transparent;

    &:hover {
      color: darken($color-light, 20%);
    }
  }
}
