@import '../../styles/settings.scss';

.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  max-width: 400px;
}

.button {
  border: 0;
  color: rgb(202, 202, 202);
  // text-align: center;
  // line-height: 1.3;
  padding: $base-size/3;
  margin: 0;
  border-radius: $radius;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  transition: $transition;
  background: none;
  font-size: ($base-size * 2);
  justify-content: flex-end;

  &:active {
    color: red;
  }
}

.buttonActive {
  color: $color-warning;
}

.icon {
  margin: 5px;
  &:active {
    color: red;
  }
}

.iconTrash {
  margin: 5px;
  &:active {
    color: red;
  }
}

.buttons {
  justify-content: flex-end;
}
