@import '../../styles/settings.scss';

.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  max-width: 400px;
}

button {
  border: 0;
  color: grey;
  text-align: center;
  line-height: 1.3;
  padding: $base-size/3;
  margin: 0;
  border-radius: $radius;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  // transition: $transition;
  background: none;

  &:hover {
    color: rgb(30, 30, 144);
  }

  &:active {
    color: $color-success;
  }

  .icon::before {
    display: flex;
    text-align: center;
    margin: 5% ($base-size * 2);
    padding-right: $base-size;
    color: rgb(217, 217, 217);
    font-size: ($base-size * 2);
    vertical-align: middle;
    position: relative;
  }
}
