@import '../../styles/settings.scss';

.input {
  min-width: 150px;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0;
  font-family: $font-text;
  border-radius: $radius;
}
