@use 'sass:math';
@import '../../styles/settings.scss';

.container {
  background: #202530;
  height: $base-size * 5;
}

.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 1400px;
  margin: 0 auto;
}

form {
  padding: 10px;
  margin: 10px;
  display: flex;
  text-align: center;
  align-items: center;
}

.title {
  color: $color-light;
  font-size: ($base-size * 1.5);
  margin: 0 ($base-size * 2);

  list-style: none;
  display: flex;
  margin: 0 20px;

  li {
    padding: 0 10px;
    font-weight: 700;

    a {
      color: $color-light;
      text-decoration: none;
      cursor: pointer;
    }
    .linkActive {
      color: $color-warning;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.icon::before {
  display: flex;
  text-align: center;
  margin: 22% ($base-size * 2);
  padding-right: $base-size;
  color: $color-light;
  font-size: ($base-size * 2);
  vertical-align: middle;
  position: relative;
}
